/*allign */

body {
    padding-top: 0px;
    font-size: 10pt;
    margin: 5 5 5 5;
}

.jumbotron {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron h3 {
    margin-top: 10.5px;
}

.right {
    float: right;
}

.kebawah {
    margin-bottom: 0px;
}

.kiri {
    text-align: left;
    ;
}

.keatas {
    margin-top: 0px;
}

.table td,
.table th {
    text-align: center;
}

input {
    line-height: inherit;
}

.content {
    min-height: 450px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.control-label {
    text-align: left;
}


/* -------- Warna ------------*/

.red {
    background-color: red;
}

.green {
    background-color: green;
}


/* -------- Navbar ------------*/

.navbar {
    border-radius: 0;
}

.panel,
.panel-primary {
    border-radius: 0;
}


/* -------- Modal ------------*/

.modal-dialog {
    position: absolute;
    top: 10% !important;
    bottom: 25% !important;
    left: 25% !important;
    right: 25% !important;
}

footer {
    margin-top: 25px;
    margin-bottom: 10px;
}
